* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.products-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.products-list .product-item {
  flex: 1;
  padding: 0 27px;
}

.products-list .product-item p {
  font-size: 14px;
}

.products-list .product-item img {
  max-width: 100%;
}